---
import Layout from "../layouts/Layout.astro";
import NavbarPages from "../components/NavbarPages";
import SmallButton from "../components/SmallButton.astro";
---

<NavbarPages client:only='react' />
<Layout title='accessibleReactTodo | MaDr'>
	<div class='w-full overflow-hidden'>
		<div class='w-screen h-[50vh] relative'>
			<div class='absolute top-0 left-0 w-full h-[50vh] z-5 bg-black/60'></div>
			<img
				class='absolute z-[-500]'
				src='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/accessiblereacttodo.webp'
				alt='/'
			/>
			<div
				class='absolute text-3xl font-bold top-[70%] max-w-[1240px] w-full left-[50%] right-[50%] translate-x-[-50%] translate-y-[-50%] text-white p-2'>
				<h2 class='py-2 text-yellow-400'>AccessibleReactTodo</h2>
				<h3>React</h3>
			</div>
		</div>
		<div class='mx-auto p-10 grid md:grid-cols-5 gap-8 pt-8 bg-black'>
			<div class='col-span-4'>
				<p class='text-xl font-bold text-yellow-400 mb-4'>Description</p>
				<p class='mb-4'>
					An Accessible React todo app I built using React hooks, state
					management, & DOM manipulation
				</p>
				<p class='mb-4'>&bull; NOTE: No data persistence (app does not save)</p>
				<h2 class='text-lg text-blue-600 mb-4'>Overview</h2>
				<p class='mb-4'>
					Based on the Mozilla Developers Network tutorial, this project helped
					to improve my understanding of programming React user interfaces and
					implementing accessibility for keyboard and screen reader users. When
					the user edits a todo, the app&apos;s focus accurately targets the
					input field, returning to the &quot;Edit&quot; button after the edit
					is made.
				</p>
				<p class='mb-4'>
					When a task is deleted, the focus returns to the 'tasks remaining'
					string, so the number of remaining tasks can be read aloud by a screen
					reader.
				</p>
				<p>
					This project isn&apos;t connected to local storage or a database, so
					todos do not save.
				</p>
				<a
					href='https://accessiblereacttodo.madr.io/'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Demo' />
				</a>
				<a
					href='https://github.com/MaDrCloudDev/accessiblereacttodo'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Code' />
				</a>
			</div>
			<div
				class='col-span-4 md:col-span-1 shadow-lg shadow-gray-700 rounded-xl p-4'>
				<div class='p-2'>
					<p class='text-center justify-center font-bold pb-2 text-yellow-400'>
						Technologies
					</p>
					<div class='grid grid-cols-3 md:grid-cols-1'>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							React
						</p>
					</div>
				</div>
			</div>
			<a href='/#projects'>
				<p class='text-xl font-bold underline cursor-pointer text-yellow-400'>
					← Back
				</p>
			</a>
		</div>
	</div>
</Layout>
