---
import Layout from "../layouts/Layout.astro";
import NavbarPages from "../components/NavbarPages";
import SmallButton from "../components/SmallButton.astro";
import RedButton from "../components/RedButton.astro";
---

<Layout title='goalsMaDr | MaDr'>
	<NavbarPages client:only='react' />
	<div class='w-full overflow-hidden'>
		<div class='w-screen h-[50vh] relative'>
			<div class='absolute top-0 left-0 w-full h-[50vh] z-5 bg-black/60'></div>
			<img
				class='absolute z-[-500]'
				src='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/goalsmadr.webp'
				alt='/'
			/>
			<div
				class='absolute text-3xl font-bold top-[70%] max-w-[1240px] w-full left-[50%] right-[50%] translate-x-[-50%] translate-y-[-50%] text-white p-2'>
				<h2 class='py-2 text-yellow-400'>goalsMaDr</h2>
				<h3>Express / MongoDB / Node.js / React</h3>
			</div>
		</div>
		<div class='mx-auto p-10 grid md:grid-cols-5 gap-8 pt-8 bg-black'>
			<div class='col-span-4'>
				<p class='text-xl font-bold text-yellow-400 mb-4'>Description</p>
				<p class='mb-4'>
					A full-stack app I built to help users save & track their goals,
					developed with MongoDB, Express, React, & Node.js. Mongoose & Axios.
					CRUD, REST API, & Redux for state management
				</p>
				<p class='mb-4'>
					<b>NOTE:</b> The Node app is hosted on Render's free tier and takes some
					time to wake up. Give it a minute.
				</p>
				<h2 class='text-lg text-blue-600 mb-4'>Overview</h2>
				<p>
					Another opportunity to scaffold a REST API with a modern React UI.
					Building this app helped me get my feet wet with Redux and improve my
					understanding of state management.
				</p>
				<a
					href='https://goalsmadr.onrender.com/'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Demo' />
				</a>
				<a href=''>
					<RedButton text='Code Private' />
				</a>
			</div>
			<div
				class='col-span-4 md:col-span-1 shadow-lg shadow-gray-700 rounded-xl p-4'>
				<div class='p-2'>
					<p class='text-center font-bold pb-2 text-yellow-400'>Tech</p>
					<div class='grid grid-cols-3 md:grid-cols-1'>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Axios
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Express
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							MongoDB
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Mongoose
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Node.js
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							React
						</p>
					</div>
				</div>
			</div>
			<div class='flex w-[225%] justify-between'>
				<a href='/#projects'>
					<p class='text-xl font-bold underline cursor-pointer text-yellow-400'>
						&larr; Back to all projects
					</p>
				</a>
				<a href='/moviewebsite'>
					<p class='text-xl font-bold underline cursor-pointer text-yellow-400'>
						&rarr; Next project
					</p>
				</a>
			</div>
		</div>
	</div>
</Layout>
