---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
---

<Layout title='MaDr.blog'>
	<main class='container'>
		<Navbar client:only='react' />
	</main>
</Layout>
