---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
---

<Layout title='Frontend Mentor | Intro section with dropdown navigation.'>
	<Header client:only='react' />
	<main class='container'></main>
</Layout>
