---
import Layout from "../layouts/Layout.astro";
import NavbarPages from "../components/NavbarPages";
import SmallButton from "../components/SmallButton";
---

<Layout title='t3StackList | MaDr'>
	<NavbarPages client:only='react' />
	<div class='w-full overflow-hidden'>
		<div class='w-screen h-[50vh] relative'>
			<div class='absolute top-0 left-0 w-full h-[50vh] z-5 bg-black/60'></div>
			<img
				class='absolute z-[-500]'
				src='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/t3stacklist.webp'
				alt='/'
			/>
			<div
				class='absolute text-3xl font-bold top-[70%] max-w-[1240px] w-full left-[50%] right-[50%] translate-x-[-50%] translate-y-[-50%] text-white p-2'>
				<h2 class='py-2 text-yellow-400'>t3StackList</h2>
				<h3>Next.js / Prisma / PlanetScale / Tailwind / tRPC / TypeScript</h3>
			</div>
		</div>
		<div class='mx-auto p-10 grid md:grid-cols-5 gap-8 pt-8 bg-black'>
			<div class='col-span-4'>
				<p class='text-xl font-bold text-yellow-400 mb-4'>Description</p>
				<p class='mb-4'>
					My simple full-stack list built with Next.js, TypeScript, Tailwind, &
					tRPC (T3 Stack). Prisma & PlanetScale, w/ Framer Motion
				</p>
				<h2 class='text-lg text-blue-600 mb-4'>Overview</h2>
				<p class='mb-4'>
					In order to better understand Next.js, TypeScript, type safety, and
					non-REST APIs using tRPC, I developed this full-stack list application
					using T3 Stack, Prisma, and PlanetScale. Because this app is
					full-stack, all users are accessing and editing the same shared list.
				</p>
				<p>
					Building these types of projects is helping me understand the mental
					model of using tRPC mutations and Prisma to query my database as
					opposed to traditional REST routes. It also helps me push my
					competencies with Tailwind and React user interfaces as I move towards
					more Next.JS development.
				</p>
				<a
					href='https://t3stacklist.netlify.app/'
					target='_blank'>
					<SmallButton text='Demo' />
				</a>
			</div>
			<div
				class='col-span-4 md:col-span-1 shadow-lg shadow-gray-700 rounded-xl p-4'>
				<div class='p-2'>
					<p class='text-center font-bold pb-2 text-yellow-400'>Technologies</p>
					<div class='grid grid-cols-3 md:grid-cols-1'>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Next.js
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Prisma
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							PlanetScale
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Tailwind
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							tRPC
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							TypeScript
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Framer Motion
						</p>
					</div>
				</div>
			</div>
			<a href='/#projects'>
				<p class='text-xl font-bold underline cursor-pointer text-yellow-400'>
					← Back
				</p>
			</a>
		</div>
	</div>
</Layout>
