---
import Layout from "../layouts/Layout.astro";
import NavbarPages from "../components/NavbarPages";
import SmallButton from "../components/SmallButton.astro";
---

<Layout title='todoApp | MaDr'>
	<NavbarPages client:only='react' />
	<div class='w-full overflow-hidden'>
		<div class='w-screen h-[50vh] relative'>
			<div class='absolute top-0 left-0 w-full h-[50vh] z-5 bg-black/60'></div>
			<img
				class='absolute z-[-500]'
				src='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/madrtodoapp.webp'
				alt='/'
			/>
			<div
				class='absolute text-3xl font-bold top-[70%] max-w-[1240px] w-full left-[50%] right-[50%] translate-x-[-50%] translate-y-[-50%] text-white p-2'>
				<h2 class='py-2 text-yellow-400'>todoApp</h2>
				<h3>CSS / HTML / JavaScript</h3>
			</div>
		</div>
		<div class='mx-auto p-10 grid md:grid-cols-5 gap-8 pt-8 bg-black'>
			<div class='col-span-4'>
				<p class='text-xl font-bold text-yellow-400 mb-4'>Description</p>
				<p class='mb-4'>
					My todo app I built using HTML, CSS, JavaScript, Babel, & Webpack
				</p>
				<h2 class='text-lg text-blue-600 mb-4'>Overview</h2>
				<p class='mb-4'>
					A traditional todo app I developed as part of my Udemy curriculum
					using vanilla Javascript.
				</p>
				<p>
					Todos are stored in local-storage (meaning they&apos;re deleted when
					you clear your browser&apos;s cache). This project improved my
					JavaScript fundamentals, and gave me another opportunity to configure
					Babel and Webpack on a project.
				</p>
				<a
					href='https://todoapp.madr.io/'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Demo' />
				</a>
				<a
					href='https://github.com/MaDrCloudDev/todoapp'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Code' />
				</a>
			</div>
			<div
				class='col-span-4 md:col-span-1 shadow-lg shadow-gray-700 rounded-xl p-4'>
				<div class='p-2'>
					<p class='text-center font-bold pb-2 text-yellow-400'>Tech</p>
					<div class='grid grid-cols-3 md:grid-cols-1'>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Babel
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							CSS
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							HTML
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							JavaScript
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Webpack
						</p>
					</div>
				</div>
			</div>
			<div class='flex w-[225%] justify-between'>
				<a href='/#projects'>
					<p class='text-xl font-bold underline cursor-pointer text-yellow-400'>
						&larr; Back to all projects
					</p>
				</a>
				<a href='/treeoflinks'>
					<p class='text-xl font-bold underline cursor-pointer text-yellow-400'>
						&rarr; Next project
					</p>
				</a>
			</div>
		</div>
	</div>
</Layout>
