---
import Layout from "../layouts/Layout.astro";
import NavbarPages from "../components/NavbarPages";
import SmallButton from "../components/SmallButton.astro";
---

<Layout title='wordGuessGame | MaDr'>
	<NavbarPages client:only='react' />
	<div class='w-full overflow-hidden'>
		<div class='w-screen h-[50vh] relative'>
			<div class='absolute top-0 left-0 w-full h-[50vh] z-5 bg-black/60'></div>
			<img
				class='absolute z-[-500]'
				src='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/madrwordguessgame.webp'
				alt='/'
			/>
			<div
				class='absolute text-3xl font-bold top-[70%] max-w-[1240px] w-full left-[50%] right-[50%] translate-x-[-50%] translate-y-[-50%] text-white p-2'>
				<h2 class='py-2 text-yellow-400'>wordGuessGame</h2>
				<h3>CSS / HTML / Javascript</h3>
			</div>
		</div>
		<div class='mx-auto p-10 grid md:grid-cols-5 gap-8 pt-8 bg-black'>
			<div class='col-span-4'>
				<p class='text-xl font-bold text-yellow-400 mb-4'>Description</p>
				<p class='mb-4'>
					My Hangman-style word guess game I built using HTML, CSS,
					JavaScript,Babel, & Webpack
				</p>
				<h2 class='text-lg text-blue-600 mb-4'>Overview</h2>
				<p class='mb-4'>
					I built this Hangman-style word guess game as part of my Udemy
					certification. It improved my JavaScript fundamentals, my Babel and
					webpack tooling, and bolstered my understanding of interactivity in
					programming. Specifically, it helped me wrap my mind around how to
					obscure unguessed letters from the user as they attempt to find the
					solution.
				</p>
				<p>The app requires a keyboard for input and is desktop only.</p>
				<a
					href='https://wordguessgame.madr.io/'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Demo' />
				</a>
				<a
					href='https://github.com/MaDrCloudDev/wordguessgame'
					target='_blank'
					rel='noreferrer'>
					<SmallButton text='Code' />
				</a>
			</div>
			<div
				class='col-span-4 md:col-span-1 shadow-lg shadow-gray-700 rounded-xl p-4'>
				<div class='p-2'>
					<p class='text-center font-bold pb-2 text-yellow-400'>Tech</p>
					<div class='grid grid-cols-3 md:grid-cols-1'>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Babel
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							CSS
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							HTML
						</p>
						<p class='text-gray-200 py-2 flex items-center'>
							<bullet class='text-4xl mr-2 text-blue-600'>&bull;</bullet>
							Webpack
						</p>
					</div>
				</div>
			</div>
			<div class='flex w-[225%] justify-between'>
				<a href='/#projects'>
					<p
						class='text-xl font-bold underline cursor-pointer text-yellow-400 hover:text-blue-600'>
						&larr; Back to all projects
					</p>
				</a>
				<a href='/#projects'>
					<p
						class='text-xl font-bold underline cursor-pointer text-yellow-400 hover:text-blue-600'>
						Next project &rarr;
					</p>
				</a>
			</div>
		</div>
	</div>
</Layout>
