---
---

<div
	id='about'
	class='w-full md:h-screen p-2 flex items-center py-16'>
	<div class='max-w-[1240px] m-auto md:grid grid-cols-3 gap-8'>
		<div class='col-span-2'>
			<p class='uppercase text-xl tracking-widest text-blue-600'>About</p>
			<h2 class='py-4'>Who Am I?</h2>
			<p class='py-2 text-gray-200'>
				A passionate progressive web app user and builder, I'm devoted to cloud
				and browser-based tools.
			</p>
			<p class='py-2 text-gray-200'>
				Junior full-stack web developer specializing in HTML, CSS, JavaScript &
				TypeScript. Linux, Node.js, & NoSQL. Jamstack & Vector Design.
				Developing proficiencies in React, Express, MongoDB, Svelte, Next.js, &
				Astro. MERN stack. A PWA and SPA enthusiast, virtually every tool I use
				runs in the browser & in the cloud. I am currently seeking a junior web
				developer role with a company that will help me build my competencies &
				push my capabilities.
			</p>
			<a href='/#projects'>
				<button
					class='w-full p-4 mt-4 hover:scale-105 ease-in duration-200 shadow-md shadow-gray-700 rounded-xl text-xl font-bold bg-gradient-to-r from-black to-gray-800 hover:text-yellow-400 hover:from-gray-800 hover:to-black'>
					Check out my projects
				</button>
			</a>
		</div>
		<div
			class='w-full h-auto m-auto shadow-lg shadow-gray-700 rounded-xl flex items-center justify-center p-4 hover:scale-105 ease-in duration-200'>
			<img
				class='rounded-xl'
				src='/about.jpg'
				alt='/'
				width={370}
				height={570}
			/>
		</div>
	</div>
</div>
