---
import ProjectItem from "../components/ProjectItem.astro";

import projects from "../../public/projects.json";
---

<div id="projects" class="w-full mt-20">
    <div class="max-w-[1240px] mx-auto px-2 py-16">
        <p class="text-xl tracking-widest uppercase text-blue-600">Projects</p>
        <h2 class="py-4">What I've Developed</h2>
        <div class="grid md:grid-cols-2 gap-8">
            {projects.map(project => (
                <ProjectItem
                    title={project.title}
                    backgroundImg={project.backgroundImg}
                    projectUrl={project.projectUrl}
                    frameWorks={project.frameWorks}
                />
            ))}
        </div>
    </div>
</div>
