---
const { text } = Astro.props;
---

<button
	class='cursor-not-allowed px-8 py-2 mt-4 mr-8 p-4 hover:scale-105 ease-in duration-200 shadow-lg shadow-gray-700 rounded-xl text-xl font-bold uppercase bg-gradient-to-r from-red-700 to-red-400 hover:from-red-400 hover:to-red-700'>
	{text}
</button>
